apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-simple
spec:
  template:
    spec:
      containers:
        - name: http-simple
          env:
            - name: FOOBAR
              value: BAZQUX
